* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	color: black;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

.page-container {
    width: 80%;
    height: 95%;
    background-color: white;
    margin: 1% auto 0 auto;
}

.main {
    padding: 25px;
    background-color: white;
    border: 5px solid rgb(15, 15, 15);
    border-radius: 12.5px 50px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.hidden {
    display: none;
}

