* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	display: none;
	color: rgb(15, 15, 15);
    background-color: rgb(145, 145, 145);
    height: 100vh;
    padding: 8px;
}

.body {
	
}

.main {
    padding: 25px;
    background-color: white;
    border: 5px solid rgb(15, 15, 15);
    border-radius: 12.5px 50px;
    height: 100%;
    display: flex;
    flex-flow: column;
}

.hidden {
    display: none;
}

