* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
	color: black;
    background-color: black;
    font-size: 1.6rem;
    width: 100%;
    min-width: 72rem;
    overflow: hidden;
}

.scrollbar-pink {
    position: relative;
    overflow-y: auto;
    scrollbar-color: transparent #F4E3EC;
    scrollbar-color: transparent linear-gradient(60deg, #D8C0D0, #D8C0D0 20%, #F4E3EC 30%, #F4E3EC 45%, #D8C0D0 55%, #D8C0D0 70%, #F4E3EC 80%, #F4E3EC);
    scrollbar-width: thin;
}
.scrollbar-pink::-webkit-scrollbar-track
{
	background-color: transparent;
	border-radius: 1rem;
}

.scrollbar-pink::-webkit-scrollbar
{
	background-color: transparent;
	width: 1rem;
}

.scrollbar-pink::-webkit-scrollbar-thumb
{
	border-radius: 1rem;
    background-color: #F4E3EC;	
	background-image: -webkit-linear-gradient(60deg, #D8C0D0, #D8C0D0 20%, #F4E3EC 30%, #F4E3EC 45%, #D8C0D0 55%, #D8C0D0 70%, #F4E3EC 80%, #F4E3EC);
    background-image: linear-gradient(60deg, #D8C0D0, #D8C0D0 20%, #F4E3EC 30%, #F4E3EC 45%, #D8C0D0 55%, #D8C0D0 70%, #F4E3EC 80%, #F4E3EC);
}

.page-container {
    background-color: white;
    width: 68rem;
    min-width: 68rem;
    margin: 2rem auto;
    border: 0.2rem solid black;
    border-radius: 1rem;
    position: relative;
}

.top-container {
    background: url(../images/logo.jpg) no-repeat center;
    background-size: cover;
    height: 44rem;
    width: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    position: relative;
}

.menu-navigation {
    float: left;
    position: absolute;
    width: 15rem;
    bottom: 1rem;
    margin-left: 1rem;
}

.navigation {
    width: 15rem;
}

.lipstick-text {
    float: left;
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.5rem;
    font-size: 2.4rem;
    color:rgb(17, 57, 167);
}

.uvod ~ svg .farba {
    fill:#B7DCF4;
}

.sluzby ~ svg .farba {
    fill:#B5EFCE;
}

.cennik ~ svg .farba {
    fill:#FFFFBA;
}

.galeria ~ svg .farba {
    fill:#F6D3AF;
}

.kontakt ~ svg .farba {
    fill:#FFB3BA;
}

.lipstick-text ~ .navigation.zatvoreny-ruz {
    display: inline;
}

.lipstick-text ~ .navigation.otvoreny-ruz {
    display: none;
}

.lipstick-text.otvoreny ~ .navigation.zatvoreny-ruz {
    display: none;
}

.lipstick-text.otvoreny ~ .navigation.otvoreny-ruz {
    display: inline;
}

.titulok-popisu .sipka.sipka-rozbal {
    display: inline;
}

.titulok-popisu .sipka.sipka-zabal {
    display: none;
}

.titulok-popisu.otvoreny .sipka.sipka-rozbal {
    display: none;
}

.titulok-popisu.otvoreny .sipka.sipka-zabal {
    display: inline;
}

.menu-content {
    display: none;
}

.title-underline {
    border-bottom: 0.1rem solid black;
    display: inline-block;
}

.vlavo {
    width: 50%;
    padding-left: 1rem;
    display: inline-block;
}

.vpravo {
    position: absolute;
    width: 50%;
    padding-right: 1rem;
    height: 100%;
    display: inline-block;
}

.center {
    position: relative;
    width: 100%;
    display: inline-block;
}

.bottom-space {
    height: 1.6rem;
}

.formular input, .formular textarea {
    width: 100%;
    margin-bottom: 0.2rem;
}

textarea {
    resize: none;
}

.formular .form-button {
    margin-top: auto;
    position: absolute;
    bottom: 1.4rem;
    width: 33.8rem;
    width: calc(100% - 1rem);
}

.thankyou_message {
    position: absolute;
    width: 33.8rem;
    width: calc(100% - 1rem);    
    background-color: rgba(255,255,255,0.8);
    z-index: 1;
}

.thankyou_message {
    -webkit-animation: fadeinout 6s linear forwards;
    animation: fadeinout 6s linear forwards;
    text-align: center;
}

@-webkit-keyframes fadeinout {
    0%,100% { opacity: 0; }
    25%,75% { opacity: 1; }
}

@keyframes fadeinout {
    0%,100% { opacity: 0; }
    25%,75% { opacity: 1; }
}

#map {
    margin-top: 0.8rem;
    width: 30rem;
    height: 20rem;
    background-color: grey;
}

.tabulka, .tabulka tr, .tabulka th {
    background-color: white;
    border-collapse: collapse;
    border: 0.1rem solid #C7C7C7;
}

.tabulka th {
    font-weight: normal;
    background-color: #E4E4E4;
    padding: 0.2rem 1rem;
}

.tabulka th ~ th {
    background-color: #F4E3EC;
}

.tabulka {
    margin-left: auto;
    margin-right: auto;
}

.carousel {
    padding: 0 1rem;
}

.carousel .slick-prev {
    left: 0rem;
    background: url(../images/sipka-vlavo.svg) no-repeat center !important;
    z-index: 3;
    height: 100%;
    width: 4.5rem;
}

.carousel .slick-next {
    right: 0rem;
    background: url(../images/sipka-vpravo.svg) no-repeat center !important;
    z-index: 3;
    height: 100%;
    width: 4.5rem;

}

.carousel .slick-next:before, .carousel .slick-prev:before {
    display: none;
}

.carousel .carousel-image {
    background-color: rgb(0,0,0);
    margin: 0 1rem;
    position: relative;
}

.carousel .carousel-image img {
    opacity: 0.4;
    max-height: 35rem;
    max-width: 40rem;
    cursor: pointer;
}

.carousel .carousel-image.slick-current img {
    opacity: 1;    
}

.carousel-caption {
    position: absolute;
    z-index: 3;
    bottom: 1.5rem;
    width: 100%;
    text-align: center;
}

.carousel-caption span {
    font-style: italic;
    padding: 0.2rem 0.5rem;
    background-color: rgba(255,255,255,0.5)
}

.titulok-popisu, .titulok-popisu svg, .titulok-popisu p {
    display: inline-block;
}

.titulok-popisu svg {
    max-height: 1rem;
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}

.titulok-popisu svg .farba {
    fill: currentColor;
}

.titulok-popisu + .popis {
    display: none;
}

.titulok-popisu.otvoreny + .popis {
    display: block;
}

.profil {
    float: right;
    margin-right: 1rem;
    margin-left: 1rem;
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    border: 0.1rem solid #B7DCF4;
    background: url(../images/profil.jpg) no-repeat center;
    background-size: 25rem;
}

.fullscreen {
    position: fixed;
    top: 0rem;
    left: 0rem;
    width: 100%;
    height: 100%;
    background-color: #FFDCDC;
    z-index: 5;
    display: flex;
    cursor: pointer;
}

.fullscreen img {
    max-height: 100%;
    padding: 1rem 0rem;
    margin: auto;
    max-width: calc(100% - 2rem);
}

.prazdne-odrazky {
    list-style-type: none;
}

.gulickove-odrazky {
    margin-left: 2rem;
}

.clickable {
    cursor: pointer;
}

.fullwidth {
    width: 100%;
}

.leftmargin {
    margin-left: 1rem;
}

.shown {
    display: block;
}

.hidden {
    display: none;
}

.bigger-font {
    font-size: 1.92rem;
    text-indent: 3.2rem;
}

.red {
    color: red;
}

.pink {
    color: deeppink;
}

.blue {
    color: #00bfff;
}

.pasteldarkblue, .tabulka .pasteldarkblue {
    background-color: #D5D5D5;
}
